<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/cpustatus.css">
    <title>CPU Monitor</title>
</head>
<body>
    <h2>CPU Health Status</h2>
    <div id="messages"></div>
    <button id="startButton">Start</button>
    <button id="stopButton">Stop</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io({ autoConnect: false });

        document.getElementById('startButton').addEventListener('click', function() {
        socket.connect();

            socket.on('connect', function() {
                console.log('WebSocket connected');
                socket.emit('start_monitoring');

                socket.on('cpu_usage', function(msg) {
                    document.getElementById('messages').innerHTML = msg.data;
                });
            });
        });

        document.getElementById('stopButton').addEventListener('click', function() {
            if (socket) {
                socket.emit('stop_monitoring');
                console.log('WebSocket disconnected');
                socket.disconnect();
                document.getElementById('messages').innerHTML = "Monitoring stopped";
            }
        });
    </script>
</body>
</html>
