<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Assignment</title>
</head>
<body>
    <button id="configurationButton" onclick="window.location.href = '/config';">Configuration</button>
    <button id="cpuHealthButton" onclick="window.location.href = '/cpustatus';">CPU Health</button>
    <button id="backupButton">Backup</button>
    <form action="/password" method="post">
        <textarea id="commonTextArea" name="text" rows="4" cols="50"></textarea>
        <input type="submit" value="Valid Password">
    </form>
</body>
</html>