<!DOCTYPE html>
<html>
<head>
    <title>Password Page</title>
    <link rel="stylesheet" type="text/css" href="static/password.css">
</head>
<body>
    <form action="/validatepassword" method="post">
        <input type="password" id="passwordInput" name="password" placeholder="Enter password" required>
        <input type="submit" value="Valid Password">
    </form>
    {% if success %}
    <p class="success">{{ success }}</p>
    {% elif errors %}
        <ul>
        {% for error in errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>